# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual Environments
venv/
env/
ENV/
env.bak/
venv.bak/

# Environment variables
.env

# VS Code settings
.vscode/

# Dummy test images
dummy_passport.jpg
